* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000;
  gap: 5vw;
}

.animated_card,
.animated_card2 {
  display: grid;
  place-items: center;
  position: relative;
  height: 500px;
  width: 350px;
  background: #222;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: rgba(254, 254, 254, .1);
  font-size: 10em;
}

.animated_card::before {
  content: '';
  position: absolute;
  height: 500px;
  width: 350px;
  background: tomato;
  border-radius: 15px;
  z-index: -1;
  transition: .3s;
  animation: animate 2s linear infinite;
}

.animated_card:hover::before